
$robotoCond: "Roboto Condensed", sans-serif;

$fontSize: 1rem;
$headingSize: 3rem; 

$sidePadding: 14px;
$spacing: 1rem;
$bigSpace: 80px;

//colours
$black: #000000;
$white: #FFFFFF;
$grey: #f8f8f8;

$blue: #42A5F5;
$green: #66BB6A;
$purple: #7E57C2;
$orange: #FFA726;
$teal: #26A69A;
$red: #EF5350;

//timings
$standardTrans: .55s;